
<div class="row">
	<div class="col-lg-1">
	</div>
	<div class="col-lg-6">
			<h3>Follow Users</h3>
			<table class="table">
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th></th>
			</tr>
			<% @user.following_user.each do |user| %>
			<tr>
				<td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg" %></td>
				<td><%= user.name %></td>
				<td>フォロー数:<%= user.follower.count %></td>
				<td>フォロワー数:<%= user.followed.count %></td>
				<td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
			</tr>
		</table>
		<%end %>
	</div>
</div>